*{
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
}
img{
    width: 100%;
}
body{
    width: 100vw;
    margin: 0px;
    overflow-x: hidden;
}
#navdisplayflex{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#navflex{
    display: flex;
    align-items: flex-end;
    margin: 0px 20px;
}
#loginid{
    width: 40px;
    margin-bottom: -6px;
    margin-right: -15px;
}
#cartlogoid{
    width: 44px;
    display: none;
}
@media screen and (min-width:0px) and (max-width:1350px){
    #button_1{
        margin-top: -920px!important;
    }
}
@media screen and (min-width:0px) and (max-width:1300px){
    #button_1{
        margin-top: -880px!important;
    }
    .buttonnn{
        margin-top: -200px!important;
    }
    #button{
        margin-top: -200px;
        margin-bottom: 55px;
    }
}
@media screen and (min-width:0px) and (max-width:1250px){
    #button_1{
        margin-top: -835px!important;
    }
    .buttonnn{
        margin-top: -200px!important;
    }
    #button{
        margin-top: -235px;
        margin-bottom: 90px;
    }
}
@media screen and (min-width:0px) and (max-width:1200px){
    #button_1{
        margin-top: -835px!important;
        margin-bottom: 717px!important;
    }
    .buttonnn{
        margin-top: -200px!important;
    }
    #button{
        margin-top: -235px;
        margin-bottom: 90px;
    }
}
@media screen and (min-width:0px) and (max-width:1150px){
    #button_1{
        margin-top: -760px!important;
        margin-bottom: 651px!important;
    }
    .buttonnn{
        margin-top: -200px!important;
    }
    #button{
        margin-top: -235px;
        margin-bottom: 90px;
    }
}
@media screen and (min-width:0px) and (max-width:1100px){
    #button_1{
        margin-top: -731px!important;
        margin-bottom: 630px!important;
    }
    .buttonnn{
        margin-top: -200px!important;
    }
    #button{
        margin-top: -203px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width:0px) and (max-width:999px){
    #navTop{
        display: none;
    }
    nav .wrapper .section{
        margin-left: 0px;
    }
    #navdisplayflex{
        margin-bottom: 5px;
    }
    #cartlogoid{
        display: block;
        margin: 0px 21px -6px 21px;
    }
    #navflex{
        margin: 0px;
    }
    #loginid{
        margin-right: 0px;
    }
    #nav_buttons>li:nth-child(4){
        display: none;
     }
     nav .wrapper .section{
        width: max-content;
     }
     #button{
        display: none;
     }
     #button_1{
        display: none!important;
     }
     .logo > img{
        margin-top: 0px;
     }
}
@media screen and (min-width:0px) and (max-width:1030px){
    #button_1{
        margin-top: -677px!important;
        margin-bottom: 570px!important;
    }
}
@media screen and (min-width:0px) and (max-width:850px){
 #navdisplayflex{
    display: block;
 }
 #search{
    float: right;
 }
}
@media screen and (min-width:0px) and (max-width:620px){
    #footerone{
        display: none!important;
    }
    #footermaindiv{
        display: block!important;
    }
    .footermain3{
        display: none;
    }
    #search{
        float: right;
     }
     #cartlogoidi{
        position: absolute;
        display: none;
     }
     #loginidi{
        position: absolute;
        display: none;
     }
}
@media screen and (min-width:0px) and (max-width:500px){
    .logo{
        display: none;
    }
    nav .wrapper .section li a{
        padding: 0px 20px;
    }
}
@media screen and (min-width:0px) and (max-width:400px){
    nav .wrapper .section li a{
        padding: 0px 10px;
    }
}
