.logo>img{
   border-radius: 15px;
   width: 70px;
   margin-top: -48%;
   margin-right: 5px
}
#page>img:nth-child(1){
   margin-bottom: -10%;
}
#page>img:nth-child(2){
   margin-top: 20px;
} */
#button{
margin-top: -280px;
margin-bottom: 135px;
}

button{
   margin-bottom: 20px;
   border-radius: 20px;
   background-color: azure;
   height: 50px;
   width: 280px;
   color: red;
   margin-left:60%;
   padding: 20px;
   border: 0px;
}
#button_1{
   margin-top: -950px;
margin-bottom: 870px;
display: flex;
justify-content: center;
}  
.center{
       position: absolute;
       top:50%;
       left:50%;
   transform: translate(-50%,-50%);
   }
   .center button{
       padding: 10px 20px;
       font-size: 15px;
       font-weight: 600;
       color: #222;
       background: #f5f5f5;
       border: none;
       outline: none;
       cursor: pointer;
       border-radius: 5px;
   }
   .popup{
       position:absolute;
       top:-150%;
       left:50%;
       opacity: 0;
   transform: translate(-50%,-50%) scale(1.25);
   width:500px;
   padding:20px 30px;
   background: #fff;
   box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
   /* border-radius: 10px; */
   transition:top 0ms ease-in-out 200ms ,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms;
    
   }
   .popup.active{
       top:50%;
       opacity: 1;
   transform: translate(-50%,-50%) scale(1);
   transition:top 0ms ease-in-out 0ms ,
               opacity 200ms ease-in-out 0ms,
               transform 200ms ease-in-out 0ms
   }
   .popup .close-btn{
   font-size: 20px;
   position: absolute;
   top: 10px;
   right: 10px;
   height: 25px;
   font-weight: bolder;
   display: flex;
   justify-content: center;
   width: 25px;
   align-items: center;
   background: #888;
   color: #eee;
   text-align: center;
   line-height: 15 px;
   border-radius: 50%;
   cursor: pointer;
   
   }
   #signin{
       text-align: center;
       margin: auto;
      
   }
   /* .popup .form h2{
       text-align: center;
       color: #222;
       margin: 10px 0px 20px;
       font-size: 25px;
   } */
   .popup .form .form-element{
       margin: 15px 0px;
   }
   /* .popup .form .form-element label {
       font-size: 17px;
       color: #222;
       text-align:left;
       
       
   }
   .popup .form .form-element label p{
       margin-bottom: 10px;
   } */
   #remember-me{
       margin-top: 5px;
       text-align: right;
   }
   .popup .form .form-element input[type="text"],.popup .form .form-element input[type="password"]{
       margin-top:0px;
       width: 100%;
       padding:10px ;
       border: 1px solid #aaa;
       /* border-radius: 5px; */
   }
   .popup .form .form-element input[type="checkbox"] {
   margin-right:5px ;
  margin: auto;
   }
   .popup .form .form-element button{
       width:100%;
       height:50px;
       border: none;
       outline: none;
   font-size:15px ;
   background:#222;
   color:#f5f5f5;
   /* border-radius: 10px; */
   cursor: pointer;
   }
   .popup .form .form-element a{
       display: block;
       text-align:left;
       font-size: 15px;
       color: #1a79ca;
       text-decoration: none;
       font-weight: 600px;
   
   }
   .center{
margin-top: -330px;

margin-left: 50px;

   }

   #welcome-text{
   letter-spacing: 0.1em;
   padding-bottom: 15px;
   text-align: left;
   font-weight: 400;
   margin-bottom: 0%;
}
#shop-name-text{
   text-align: left;
   letter-spacing: 0.1em;
 line-height: 0%;
 margin-left: 0%;
 font-family: Arial, Helvetica, sans-serif;

}
.container{
   margin-top: 100px;
   border: 2PX SOLID RED;
   width: 80%;
   margin-left: 100px;
}
#detail-text{
margin-top: 50px;
text-align: left;
/* letter-spacing: 0.1em; */
   /* margin-left: 30px; */
}
#createannewaccount{
text-align: left;
}
nav{
   position: fixed;
   top: 0;
   width: 100%;
   background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,0.9444152661064426) 0%, rgba(255,255,255,1) 100%);
}
#navTop{
   text-align: end;
   margin: 20px;
   margin-bottom: 10px;
            
}
#page{
   margin-top: 90px;
}
#navTop>a{
   
 margin-left: 10px;  
}

a{
   text-decoration: none;
   color: black;
  
}
li{
   list-style: none;
}
#onlyfornavstyle{
   display: flex;
   justify-content: space-between;
   margin-right: 100px;
}
#onlyfornavstyl{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
nav .wrappper{
max-width: 1300px;
position: relative;

display: flex;
}
nav .wrapper .section{
display: inline-flex;
margin-left: 130px;
}
nav .wrapper .section li a{
text-transform: uppercase;
font-size: 13px;
padding:10px 25px;
transition: all 0.5s;
} 
nav .wrapper .section li a:hover{
background-color:#000000 ;
color: white;
}
nav .wrapper .section li.sub-menu>a:after{
/* content: '\eb21'; */
font-family: 'boxicons' !important;
position: absolute;
color: #5D4037;
display: inline-block;
vertical-align: middle;
margin-left: 5px;
}
nav .wrapper .section li.sub-menu:hover>a:after{
/* content: '\eaed'; */
font-family: 'boxicons' !important;
position: absolute;
color: #5D4037;
display: inline-block;
vertical-align: middle;
margin-left: 0px;
}
nav .wrapper .section .drop-down{
width: 100px;
position: absolute;
top: 80px;
line-height: 50px;
/* border-top: 4px solid #ff652f; */
opacity: 0;
visibility: hidden;
}
nav .wrapper .section li:hover .drop-down{
opacity: 1;
width: 100%;
visibility: visible;
background-color: aliceblue;
transition: all 0.5s;
}
#search{
   width: 200px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   height: 30px;
}